# zkp
build/*
zkp/build/*

# backend
backend/node_modules
backend/*.log

# frontend
frontend/dist
frontend/node_modules
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# misc
.DS_Store
