# zkp
build/*
zkp/build/*

# backend
backend/node_modules

# frontend
frontend/dist
frontend/node_modules
frontend/.env.development
frontend/.env.production
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# misc
.DS_Store
